__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
.env

.idea/
.vscode/
.DS_Store

*.tar.gz

*.pt
*.safetensors

data/bipia/.git/
data/bipia/benchmark/qa/newsqa_data/combined-newsqa-data-v1.csv
data/bipia/benchmark/qa/newsqa_data/combined-newsqa-data-v1.json